body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  flex-grow: 1;
}

#fixed-rectangle {
  background-color: #f0f0f0;
  height: 200px;
  position: sticky;
  bottom: 0;
}

.container-alert {
    margin: 50px;
}
.extra {
  padding: 40px 0 0 100px;
}

.container-alert {
    margin: 50px;
}