@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Titillium+Web:wght@200;300;400;600;700&display=swap');
*{
    margin: 0;
    padding:0;
    font-family: 'Open Sans';
}
@media screen and (max-width: 850px) {
  .contenedor {
    display: block;
  }
  .contenedor-items{
      width: 100% !important;
  }
}

.rectangulo {
  background-color: rgba(204, 202, 202, 0.719);
  width: auto;
  height: 200px;
}
.extra {
  padding: 40px 0 0 100px;
}