{% extends 'inicio/base.html' %}
{% load static %}
{% block inicio %}
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'inicio/registro.css' %}">
    <script src="{% static 'js/registro.js' %}" async></script>
{% endblock inicio %}
{% block content %}
    <div class="row mx-auto mt-5">
      <form id="myForm" class="needs-validation" novalidate>
        <div class="col mb-5">
          <div class="form-floating mx-5">
            <input type="text" class="form-control" placeholder="nombre" aria-label="nombre" aria-describedby="basic-addon2" id="nombre"  required>
            <label for="nombre" class="text-dark">Nombre/s</label>
            <div class="invalid-feedback" id="errorNombre">
              El nombre tiene que tener mas de 3 caracteres.
            </div>
          </div>
        </div>
        <div class="col mb-5">
          <div class="form-floating mx-5">
            <input type="text" class="form-control" placeholder="Nombre Empresa" aria-label="empresa" aria-describedby="basic-addon2" id="empresa">
            <label for="empresa" class="text-dark">Apellido paterno y materno</label>
            <div class="invalid-feedback" id="errorEmpresa">
              Ambos apellidos deben tener al menos 10 caracteres.
            </div>
          </div>
        </div>
        <div class="col mb-5">
          <div class="form-floating mx-5">
              <input type="email" class="form-control" placeholder="Correo" id="email">
              <label for="email" class="text-dark">Correo</label>
              <div class="invalid-feedback" id="errorEmail">
                El email debe tener un formato válido.
              </div>
          </div>
        </div>
        <div class="col mb-5">
          <div class="form-floating mx-5">
            <input type="text" class="form-control" placeholder="Celular" aria-label="celular" aria-describedby="basic-addon2" id="celular">
            <label for="celular" class="text-dark">Telefono de contacto</label>
          </div>  
        </div>
        <div class="col mb-5">
          <div class="form-floating mx-5">
            <input type="text" class="form-control" placeholder="Asunto" aria-label="asunto" aria-describedby="basic-addon2" id="asunto">
            <label for="asunto" class="text-dark">Nombre de usuario.</label>
              <div class="invalid-feedback" id="errorAsunto">
                El nombre de usuario debe tener 6 caracteres como mínimo.
              </div>
          </div>
        </div>
        <div class="col mb-5">
          <div class="form-floating mx-5">
            <input type="password" class="form-control" placeholder="Contraseña" id="new-password" name="new-password" pattern="[a-z0-5]{8,}" required>
            <label for="new-password" class="text-dark">Contraseña</label>
              <div class="invalid-feedback" id="errorcontraseña">
                La contraseña tiene que tener 8 caracteres.
              </div>
          </div>
        </div>
        <div class="position-relative">
          <button type="submit" class="btn btn-primary mx-auto position-absolute top-50 start-50 translate-middle" value="Enviar">Enviar</button>
        </div>
      </form>
    </div>
    {% endblock content %}

