{% extends 'inicio/base.html' %}
{% load static %}

{% block inicio %}
  <title>guia</title>
  <link rel="stylesheet" href="{% static 'inicio/guia.css' %}">
  <link rel="stylesheet" href="{% static 'inicio/estilo.css' %}">
  <script src="https://kit.fontawesome.com/8d04302f6e.js" crossorigin="anonymous"></script>
{% endblock inicio %}

{% block content %}
  <div class="container">
    <h1 class="primero">Paso uno</h1>
    <tr>Baja la barra de tu navegador</tr>
    <h1>Paso 2</h1>
    <tr>Al ver las imagenes de los productos abajo de estos veras un cuadro que dice " agregar al carrito ", Clickealo.</tr>
    <h1>Paso 3</h1>
    <tr>Se abrirá un carrito de compra automatico para que puedas agregar o quitar productos, es muy dínamico de usar.</tr>
    <h1>Paso 4</h1>
    <tr class="pb-5">¡Disfruta de tus compras!</tr>
  </div>
{% endblock content %}
     