{% extends 'inicio/base.html' %}
{% load static %}

{% block inicio %}
  <title>Inicio Sesion</title>
  <link rel="stylesheet" href="{% static 'inicio/registro.css' %}">
{% endblock inicio %}

{% block content %}
<div class="row mx-auto mt-5">
  <form id="myForm" class="needs-validation">
    <div class="col mb-5">
      <div class="form-floating mx-5">
        <input type="text" class="form-control" placeholder="Asunto" aria-label="asunto" aria-describedby="basic-addon2" id="asunto">
        <label for="asunto" class="text-dark">Nombre de usuario.</label>
          <div class="invalid-feedback" id="errorAsunto">
            El nombre de usuario no existe.
          </div>
      </div>
    </div>
    <div class="col mb-5">
      <div class="form-floating mx-5">
        <input type="password" class="form-control" placeholder="Contraseña" id="new-password" name="new-password" pattern="[a-z0-5]{8,}" required>
        <label for="new-password" class="text-dark">Contraseña</label>
          <div class="invalid-feedback" id="errorcontraseña">
            La contraseña no es correcta.
          </div>
      </div>
    </div>
    <div class="position-relative">
      <button type="submit" class="btn btn-primary mx-auto position-absolute top-50 start-50 translate-middle" value="Enviar">Enviar</button>
    </div>
  </form>
</div>
{% endblock content %}

