{% extends 'inicio/base.html' %}
{% load static %}

{% block inicio %}
  <title>Chatbot</title>
  <link rel="stylesheet" href="{% static 'inicio/extras.css' %}">
  <link rel="stylesheet" href="{% static 'inicio/chatbot.css' %}">
  <script src="https://kit.fontawesome.com/8d04302f6e.js" crossorigin="anonymous"></script>
  
{% endblock inicio %}

{% block content %}
  <div class="container">
    <h1>Nulman</h1>
    <div id="chat-container" class="well mb-auto">  
    </div>
    <label for="user-input">Escribe tu mensaje:</label>
    <div class="form-group d-flex">
        <input type="text" id="user-input" class="form-control">
        <button id="send-button" class="btn btn-primary" type="submit">Enviar</button>
    </div>
  </div>

{% endblock content %}

{% block final %}
<script src="{% static 'js/nulman.js' %}"></script>
{% endblock final %}
